@media screen and (max-width: 600px){
    
    .logo {
        width: 80%;}
        
    .nav_section{
        flex-wrap: wrap;
        justify-content: space-around;
        /* align-items: center; */
        margin: 0px auto;
        
    }
    .navs>ul li {
        padding: 5px;
        font-size: 1rem;
    }
    .banner_section{
        background-size:auto;
    }
    .banner_section h1 {
        font-size: 2rem;
    }
    .banner_text {
        width: 300px;
       
    }
    .input {
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 160px;
        font-size: 1rem;
    }
    .inside_banner_section {
        padding-top: 10px;
    }
    .section1 {flex-direction: column;
    }
    .head {
        font-size: 1.5rem;
    }
    .input button{
        padding: 0px;
        margin: 0px;
    }
    .products {
        font-size: 1rem;}
     .sec_img>img{
            width: 100%;
            
        }
        .section2{
            align-items: center;
            
        }
        .heading h1 {
            font-size: 1.5rem;
            text-align: center;
        }
        .heading p {
            font-size: 1rem;
            width: 300px;
            margin: 5px auto;
            text-align: justify;
        }

        .first_imgs {
            margin-top: 20px;
        }
        .first_imgs {flex-direction: column;
        }
        .one,.two, .three, .four, .five, .six{
            width: 100%;
            margin: 0px auto;
        }

        .second_imgs {
            flex-direction: column;
        }
        .section3_text {
            width: 85%;
            margin: 20px auto;
        }
        .middlebar_section3 {
            flex-direction: column;
        }
        .handpicked{
            width: 90%;
            padding: 20px;
            height: auto;
        }
        .handpicked p{
            margin-top: 10px;
            margin-bottom: 0px;
            /* font-size: .9rem; */
        }

        .world_class_service{
            width: 90%;
            padding: 20px;
            height: auto;
        }
        .world_class_service p{
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .best_price{
            width: 90%;
            padding: 20px;
            height: auto;
            margin-top: 20px;
        }
        .best_price p{
            margin-top: 10px;
            margin-bottom: 0px;
        }

        .deals_discount_head p {
            width: 80%;
            margin: 10px auto;
            margin-bottom: 20px;
            text-align: justify;
        }
        .deal_card, .deal_card2 {
           
            width: 75%;
            height: auto;
            padding: 10px;
            margin-left: 10%;
            margin-top: 15%;
                    
        }
        .package {
            margin-top: 20px;
            margin-left: 30%;
        }

        .section5 {
           flex-direction: column;
        }
        .perfect_text {
            /* border: 2px solid black; */
            width: 100%;
        }
        .sundarban{
            width: 100%;
        }

        .section6 {
            flex-direction: column;
            margin-top: 500px;
        }

        .section6 .form {
            width: 90%;
            border: 2px solid #FF5400;
            margin: 0px auto;
            border-radius: 10px;
        }

        .section6 .img_div {
            width: 100%;
        }
        .disciunt {
            margin-top: 620px;
            width: 40%; 
            margin-left: 250px;
        }

        footer {
            align-items: center;
            text-align: center;
            padding-top: 0px ;
        }
        .footer_logo {
            width: 80%;
            padding-left: 17%;
        }
 }