@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish';
}

.primary_btn {
    background-color: #FF5400;
    color: white;
    align-items: center;
}

.nav_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: 50px auto;
    /* border: 2px solid black; */



}

.red {
    color: #FF5400;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.navs>ul li {
    list-style: none;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;

}

.navs ul {
    display: flex;
    justify-content: space-around;

}

.banner_section {
    width: 88%;
    height: 430px;
    margin: 0px auto;
    background-image: url("Images/Group13.png");
    border-radius: 16px;

    /* border: 2px solid black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-clip: ; */
    text-align: center;
    color: white;
}

.inside_banner_section {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    padding-top: 100px;
}

.banner_section h1,
.banner_text {
    margin-bottom: 20px;

}

.banner_section h1 {
    font-size: 3rem;
}

.banner_text {
    width: 500px;
    margin: 20px auto;
    /* border: 2px solid black; */
}

.input {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    height: auto;
    width: 670px;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
}

.inside_banner_section input,
option,
select,
button {
    width: 150px;
    height: 45px;
    border-radius: 7px;
    border: none;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;

}

.inside_banner_section button>img {
    position: absolute;
    /* margin-top: px; */
    margin-left: -10px;


}

.inside_banner_section button {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.section1 {
    display: flex;
    width: 88%;
    margin: 50px auto;
    justify-content: space-between;
    gap: 50px;
}

.head {
    font-size: 3rem;
}

.section_text {
    margin-top: 10px;
}

.products {
    width: 100%;
    text-align: justify;
}

.products>ul li {
    list-style: disc;
    padding: 3px;
    align-items: center;
    text-align: justify;
}

.products>ul {
    padding-left: 20px;
}

.products li,
p,
button {
    margin-bottom: 15px;
}

.read {
    margin-left: 20px;
    font-size: 1rem;
}

.sec_img {
    width: 100%;
}

.section2 {
    width: 88%;
    margin: 20px auto;
    text-align: center;
}

.heading h1 {
    font-size: 2.5rem;
}

.heading p {
    font-size: 1rem;
    width: 500px;
    margin: 20px auto;
}

.heading h1 {
    margin-bottom: 20px;
}

.first_imgs {
    width: 100%;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
    justify-content: space-between;
    margin: 0px auto;

}

.one {
    width: 50%;
    height: 250px;
    /* border: 2px solid black; */
}

.one img {
    height: 100%;
    width: 100%;
}

.second_imgs {
    width: 100%;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
    justify-content: space-between;
    margin: 20px auto;
}

.two {
    width: 35%;
    height: 250px;
    /* border: 2px solid black; */
}

.two img {
    height: 100%;
    width: 100%;
}

.three {
    width: 40%;
    height: 250px;
    /* border: 2px solid black; */
}

.three img {
    height: 100%;
    width: 100%;
}

.four {
    width: 25%;
    height: 250px;
    /* border: 2px solid black; */
}

.four img {
    height: 100%;
    width: 100%;
}

.five {
    width: 40%;
    height: 250px;
    /* border: 2px solid black; */
}

.five img {
    height: 100%;
    width: 100%;
}

.six {
    width: 60%;
    height: 250px;
    /* border: 2px solid black; */
}

.six img {
    height: 100%;
    width: 100%;
}

.section2 img {
    cursor: pointer;

}

.section2 img:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
}

.section3 {
    width: 88%;
    margin: 50px auto;

}

.choose_us {
    text-align: center;
}

.middlebar_section3 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: left;
    text-align: justify;
}



.section_head {
    font-size: 2.5rem;
}

.section3_text {
    width: 60%;
    margin: 20px auto 50px;
}

.handpicked {
    width: 60%;
    padding: 20px;
    height: 180px;
    /* border: 2px solid black; */
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    cursor: pointer;
}

.handpicked:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
    transform: scale(1.1);
    /* padding: 30px; */
}

.handpicked h1,
p {
    margin-top: 15px;
}

.world_class_service {
    /* border: 2px solid black; */
    width: 60%;
    padding: 20px;
    height: 180px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    cursor: pointer;
}

.world_class_service:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
    transform: scale(1.1);
    /* padding: 30px; */
}

.world_class_service h1,
p {
    margin-top: 15px;
}

.logo_div {
    height: 50px;
    width: 50px;
}

.best_price {
    width: 60%;
    margin: 50px auto;
    height: 180px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    text-align: justify;
    cursor: pointer;
}

.best_price:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
    transform: scale(1.1);
    /* padding: 30px; */
}


.section4 {
    width: 88%;
    margin: 0px auto;
    /* border: 2px solid black; */

}

.deals_discount_head h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.deals_discount_head p {
    width: 60%;
    margin: 10px auto;
    margin-bottom: 20px;
}

.deal1 {
    background-image: url("Images/Group40089\(4\).png");
    background-size: cover;
    height: 350px;
    position: relative;
}

.deal_card {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(.1px);
    width: 40%;
    height: auto;
    padding: 20px;
    margin-left: 52%;
    position: absolute;
    margin-top: 30px;
    /* cursor: pointer; */

}

.deal_card:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
}

.logo_text {
    display: flex;
    justify-content: left;
    gap: 20px;
}

/* .pp{
    width: 95%;
} */

.deal2 {
    background-image: url("Images/Group40089\).png");
    background-size: cover;
    height: 350px;
    position: relative;
    margin-top: 20px;
}

.deal_card2 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(.1px);
    width: 40%;
    height: auto;
    padding: 20px;
    margin-left: 4%;
    position: absolute;
    margin-top: 30px;
    /* cursor: pointer; */

}

.deal_card2:hover {
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;
}

.deal3 {
    background-image: url("Images/Group40089\(4\).png");
    background-size: cover;
    height: 350px;
    position: relative;
    margin-top: 20px;
}

.package {
    margin: 50px;
    margin-left: 43%;
}

.section5 {
    width: 88%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    height: 400px;
    /* border: 2px solid black; */
}

.perfect_text {
    /* border: 2px solid black; */
    width: 50%;
}

.perfect_text h1 {
    font-size: 2.5rem;
}

.perfect_text p,
li {
    list-style-type: disc;
    width: 90%;
    text-align: justify;
    padding-bottom: 10px;

}

.perfect_text ul {
    margin-left: 20px;
}

.perfect_text button {
    margin-top: 35px;
}

.sundarban {
    width: 47%;
    /* border: 2px solid black; */

}

.sundarban iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: white;
}

.section6 {
    width: 88%;
    margin: 100px auto;
    display: flex;
    justify-content:space-between;
    gap: 20px;
    /* border: 2px solid black; */
    /* position: relative; */
}

.section6 .form {
    width: 40%;
    /* border: 2px solid black; */
    padding-left: 30px;
    border: 2px solid #FF5400;
    border-radius: 10px;
    
}

.section6 .form:hover{
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;

}

.form p {
    width: 89%;
    margin-bottom: 10px;
    font-size: 1.2rem;
    /* border: 2px solid black; */
    margin-top: 20px;
    margin-bottom: 20px;

}

.form input {
    width: 80%;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    background-color: antiquewhite;
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.form hr {
    width: 83%;
    margin: 20px 0px 20px 0px;
}

.form h1 {
    font-size: 2rem;
    margin-top: 20px;
}

.section6 .img_div {
    width: 50%;
    
}

/* .section6 .img_div:hover{
    box-shadow: 10px 10px 10px rgb(19, 112, 124);
    border-radius: 20px;
    transition: .5s;

} */

.img_div img {
    width: 100%;
    height: 370px;

}

.disciunt{
    height: 50px;
    width: 18%;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    transform: rotate(-30deg);
    margin-top: 250px;
    margin-left: 70%;
    
}

.disciunt:hover{
    transform:translate(-100px);
    transition: .5s;
    transform: scale(1.5);
}

.dis{
    font-size: 1.5rem;
}
footer{
    align-items: center;
    text-align: center;
    padding-top: 100px;
    background: rgba(19, 19, 24, 0.05);
}
.footer_logo{
    width: 24%;
    margin: 20px auto;
    /* border: 2px solid black; */
    text-align: center;

    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    font-weight: bold;  
    
}
footer>p{
    width: 60%;
    margin: 0px auto;
    /* border: 2px solid black; */
}

.links img{
    padding: 15px;
    cursor: pointer;
}

.links img:hover{
    /* box-shadow: 5px 5px 5px rgb(19, 112, 124); */
    border-radius: 10px;
    transition: .5s;
    background-color: rgb(209, 207, 207);
}

.links{
    margin-top: 20px;
}

footer> hr{
    width: 80%;
    margin: 0px auto;
}
.footer{
    padding: 50px;
}


